* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
/* Colours */
body {
  height: 100vh;
  width: 100%;
}

/* Navbar Section */
.navbar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 30px;
  margin: 0 auto;
}

/* Quiz Content Section */
.quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}
.quiz .quiz__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  border-radius: 60px;
}
@media only screen and (max-width: 500px) {
  .quiz .quiz__container {
    width: 90%;
    margin: 0 auto;
  }
}
.quiz .quiz__container .quiz__question {
  padding: 20px 0;
}
.quiz .quiz__container .quiz__answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 60px 0;
  width: 90%;
  margin: 0 auto;
}
@media only screen and (max-width: 500px) {
  .quiz .quiz__container .quiz__answers {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Countdown Clock */
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz .quiz__container .quiz__answers .quiz__answer-btns {
  padding: 30px 30px;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 30px;
  color: #FFF;
  cursor: pointer;
  outline: none;
  font-size: 1.1rem;
  letter-spacing: 0.2em;
  font-weight: 700;
}
@media only screen and (max-width: 500px) {
  .quiz .quiz__container .quiz__answers .quiz__answer-btns {
    padding: 15px 15px;
  }
}
.quiz .quiz__container .quiz__answers .quiz__answer-btns .correct {
  background-color: #60A561;
}
.quiz .quiz__container .quiz__answers .quiz__answer-btns:hover {
  background-color: #2F80ED;
}

body {
  background-image: linear-gradient(to right, #acb6e5, #95c9f8, #7cddff, #72eef9, #86fde8);
  font-family: "Poppins", sans-serif;
  color: #FFF;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #FFF;
}

.navbar {
  font-size: 2rem;
  font-weight: 700;
}

.quiz .quiz__container {
  background-color: rgba(0, 0, 0, 0.1);
}
.quiz .quiz__container .quiz__question h2 {
  font-size: 2.2rem;
}
@media only screen and (max-width: 1024px) {
  .quiz .quiz__container .quiz__question h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .quiz .quiz__container .quiz__question h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .quiz .quiz__container .quiz__question h2 {
    font-size: 1.2rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}

.clock p {
  font-size: 4rem;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .clock p {
    font-size: 3.4rem;
  }
}
@media only screen and (max-width: 500px) {
  .clock p {
    margin-top: 40px;
    font-size: 1.8rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
.clock .active {
  color: red;
}