@import "./base/reset";
@import "./abstracts/variables";
@import "./structure/layout";
@import "./structure/buttons";

body {
    background-image: $gradient;
    font-family: $primary-font;
    color: #FFF;
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #FFF;
}

.navbar {
    font-size: 2rem;
    font-weight: 700;
}

.quiz {

    .quiz__container {
        background-color: rgba(0, 0, 0, 0.1);

        .quiz__question {
            h2 {
                font-size: 2.2rem;

                @media only screen and (max-width: 1024px) {
                    font-size: 1.5rem;
                }

                @media only screen and (max-width: 768px) {
                    font-size: 1.2rem;
                }

                @media only screen and (max-width: 500px) {
                    font-size: 1.2rem;
                    width: 80%;
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
    }
}

.clock {

    p {
        font-size: 4rem;
        font-weight: 700;

        @media only screen and (max-width: 768px) {
            font-size: 3.4rem;
        }

        @media only screen and (max-width: 500px) {
            margin-top: 40px;
            font-size: 1.8rem;
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
    }

    .active {
        color: red;
    }
}