body {
  height: 100vh;
  width: 100%;
}

/* Navbar Section */
.navbar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 30px;
  margin: 0 auto;
}

/* Quiz Content Section */
.quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}
.quiz .quiz__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 70%;
  border-radius: 60px;
}
.quiz .quiz__container .quiz__answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  padding-top: 80px;
  width: 90%;
}

/* Countdown Clock */
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
}