body {
    height: 100vh;
    width: 100%;
}

/* Navbar Section */

.navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 30px;
    margin: 0 auto;
}

/* Quiz Content Section */

.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;

    .quiz__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        border-radius: 60px;

        @media only screen and (max-width: 500px) {
            width: 90%;
            margin: 0 auto;
        }

        .quiz__question {
            padding: 20px 0;
        }

        .quiz__answers {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            padding: 60px 0;
            width: 90%;
            margin: 0 auto;

            @media only screen and (max-width: 500px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

/* Countdown Clock */

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

